/* .activity-cards {
    display: flex;
    justify-content: flex-start;
    margin-left: 48%;
  } */

  .activity-cards-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    padding-bottom: 3%;
    color: #0B1519;
    
      font-size: 48px;
      font-family: sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.96px;
      word-wrap: break-word;
  }