/*h1 {
    font-family: 'Roboto';
    align-items: center;
    background-color: whitesmoke; 
}
/* Text Positioning */

/*ul {
    margin: flex;
    text-align: left;
    
}
/* Text Styling/Positioning */
/*li {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin: flex;
    background-color: whitesmoke;

}
/* Button Positioning */
/*span {
    margin-right: 16px;
}
/* Button Styling */
.title {
    font-family: 'Roboto';
    font-size: 50px;
}

.search_input[type='text'] {
    margin: 20px;
    border: 20px;
}

.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    width: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  

.add_button:hover {
    background-color: rgb(129, 190, 210);
}