/*h1 {
    font-family: 'Roboto';
    align-items: center;
    background-color: whitesmoke; 
}
/* Text Positioning */

/*ul {
    margin: flex;
    text-align: left;
    
}
/* Text Styling/Positioning */
/*li {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin: flex;
    background-color: whitesmoke;

}
/* Button Positioning */
/*span {
    margin-right: 16px;
}
/* Button Styling */

.search_list {
    margin: 0 auto;
    max-width: 200px;
    background-color: white;
    border: 0.1mm solid black;
}

.search_item {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5%;
    padding: 5px;
}

.title {
    font-family: 'Roboto';
    font-size: 50px;
}

.search_input[type='text'] {
    font-family: 'Roboto';
    border: 20px;
    border: 0.1mm solid black;
}

.add_button {
    display:block;
    align-items: center;
    justify-content: center;
    height: 30px; 
    width: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  

.add_button:hover {
    background-color: #034e9e;
}

.added_items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: whitesmoke;
    margin: 0 auto;
}

